# datasets
*.csv
*.xlsx
*.json

# models
*.pkl
*.joblib

# python cache
__pycache__/
*.pyc

# notebook checkpoints
.ipynb_checkpoints/

# virtual environment
venv/
env/

# large outputs
*.txt
*.log

# OS files
.DS_Store
Thumbs.db

*.ipynb