# datasets
*.csv
*.xlsx
*.json

# model files
*.pkl
*.joblib

# logs & outputs
*.txt
*.log

# python cache
__pycache__/
*.pyc

# virtual environments
.venv/
venv/
env/

# notebooks
*.ipynb
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db